doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendors/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendors/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/vendors/nprogress/nprogress.css')
    link(rel='stylesheet', href='/stylesheets/vendors/iCheck/skins/flat/green.css')
    link(rel='stylesheet', href='/stylesheets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css')
    link(rel='stylesheet', href='/stylesheets/vendors/jqvmap/dist/jqvmap.min.css')
    link(rel='stylesheet', href='/stylesheets/build/css/custom.min.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type="image/x-icon", href="/images/favicon.ico")
    
    <!-- jQuery -->
    script(src="/stylesheets/vendors/jquery/dist/jquery.min.js")
    <!-- Bootstrap -->
    script(src="/stylesheets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js")
    <!-- FastClick -->
    script(src="/stylesheets/vendors/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    script(src="/stylesheets/vendors/nprogress/nprogress.js")
    <!-- Chart.js -->
    script(src="/stylesheets/vendors/Chart.js/dist/Chart.min.js")
    <!-- gauge.js -->
    script(src="/stylesheets/vendors/gauge.js/dist/gauge.min.js")
    <!-- bootstrap-progressbar -->
    script(src="/stylesheets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
    <!-- iCheck -->
    script(src="/stylesheets/vendors/iCheck/icheck.min.js")
    <!-- Skycons -->
    script(src="/stylesheets/vendors/skycons/skycons.js")
    <!-- Flot -->
    script(src="/stylesheets/vendors/Flot/jquery.flot.js")
    script(src="/stylesheets/vendors/Flot/jquery.flot.pie.js")
    script(src="/stylesheets/vendors/Flot/jquery.flot.time.js")
    script(src="/stylesheets/vendors/Flot/jquery.flot.stack.js")
    script(src="/stylesheets/vendors/Flot/jquery.flot.resize.js")
    <!-- Flot plugins -->
    script(src="/stylesheets/vendors/flot.orderbars/js/jquery.flot.orderBars.js")
    script(src="/stylesheets/vendors/flot-spline/js/jquery.flot.spline.min.js")
    script(src="/stylesheets/vendors/flot.curvedlines/curvedLines.js")
    <!-- DateJS -->
    script(src="/stylesheets/vendors/DateJS/build/date.js")
   
    script(src="/stylesheets/vendors/jqvmap/dist/jquery.vmap.js")
    script(src="/stylesheets/vendors/jqvmap/dist/maps/jquery.vmap.world.js")
    script(src="/stylesheets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")
   
    script(src="/stylesheets/vendors/moment/min/moment.min.js")
    script(src="/stylesheets/vendors/bootstrap-daterangepicker/daterangepicker.js")
    script(src="/stylesheets/build/js/custom.min.js")
    
    script(src='/javascripts/app.js')
  body
    div(class="container body")
      div(class="main_container")
        div(class="row")
          div(class="col-md-12 col-sm-12 ")
            nav(class="nav navbar-nav")
              a(class="navbar-brand", href="#")
                img(src="/images/logo.png", style="width: 10%", class="d-inline-block align-top", alt="")
              div( class="collapse navbar-collapse")
                div(class="navbar-nav")
                  a(class="nav-item nav-link active" href="#")
                    span Home
                    span(class="sr-only">(current))




